@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(315deg,rgba(135,179,255,1.00) 0%,rgba(172,97,255,1.00) 100%);
    background-image: -moz-linear-gradient(315deg,rgba(135,179,255,1.00) 0%,rgba(172,97,255,1.00) 100%);
    background-image: -o-linear-gradient(315deg,rgba(135,179,255,1.00) 0%,rgba(172,97,255,1.00) 100%);
    background-image: linear-gradient(135deg,rgba(135,179,255,1.00) 0%,rgba(172,97,255,1.00) 100%);
    color: #FFFFFF;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 1609px;
    background-color: #008A61;
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper #main {
    height: 1388px;
    text-align: center;
}
#wrapper #main p {
    text-align: left;
}
#wrapper #main ul {
    text-align: left;
}
#wrapper #main #right {
    text-align: left;
}


#wrapper #header {
    height: 161px;
    padding-top: 34px;
    padding-left: 11px;
    padding-right: 10px;
}
#wrapper #header #rounded {
    background-color: #006600;
    height: 129px;
    border-radius: 40px 15px;
    text-align: center;
}
#wrapper #main img {
    border-radius: 40px 60px 60px 24px / 40px 20px 60px 24px;
    float: left;
    padding-right: 31px;
}
#wrapper #main .heading {
    background-color: #006600;
    text-align: center;
}
