@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(315deg,rgba(0,65,176,1.00) 0%,rgba(182,0,3,1.00) 100%);
    background-image: -moz-linear-gradient(315deg,rgba(0,65,176,1.00) 0%,rgba(182,0,3,1.00) 100%);
    background-image: -o-linear-gradient(315deg,rgba(0,65,176,1.00) 0%,rgba(182,0,3,1.00) 100%);
    background-image: linear-gradient(135deg,rgba(0,65,176,1.00) 0.00%,rgba(182,0,3,1.00) 100%);
    color: #FFFFFF;
    font-size: 19px;
}
#wrapper {
    height: 1279px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #999900;
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper #headder {
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
}
#wrapper #main {
}
#wrapper #main #padded {
    padding-bottom: 4px;
    padding-top: 0px;
}
#wrapper #main #gray {
    background-color: #666666;
    text-align: center;
}
#main ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}



#wrapper #main img {
    padding: 10px;
    float: left;
    margin-top: 1px;
}
