@charset "utf-8";
body {
    background-image: url(img/fon1.jpg);
    font-family: Arial, "Times New Roman";
    font-size: 18px;
}
#wrapper {
    background-color: #FFCC33;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 1356px;
}
#wrapper #headder {
    height: 277px;
    text-align: center;
}
#wrapper #headder hr {
    width: 791px;
    background-color: #585F72;
}
#wrapper #headder p {
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}
#wrapper #main {
    height: 1072px;
    
}




#wrapper #headder img {
    float: left;
}
#wrapper #main img {
    float: left;
    padding-right: 10px;
}
#wrapper #main h2 {
    text-align: center;
}
