@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(315deg,rgba(0,61,164,1.00) 0%,rgba(73,0,153,1.00) 98.86%);
    background-image: -moz-linear-gradient(315deg,rgba(0,61,164,1.00) 0%,rgba(73,0,153,1.00) 98.86%);
    background-image: -o-linear-gradient(315deg,rgba(0,61,164,1.00) 0%,rgba(73,0,153,1.00) 98.86%);
    background-image: linear-gradient(135deg,rgba(0,61,164,1.00) 0%,rgba(73,0,153,1.00) 98.86%);
}
#wrapper {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 1500px;
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper #header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#wrapper #main img {
    float: left;
    padding-top: 24px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
#wrapper #main #padded {
    padding-bottom: 40px;
}
table tbody td {
    padding-top: 20px;
    padding-bottom: 20px;
}
